<?xml version="1.0" encoding="UTF-8"?>
<phpunit
		bootstrap="tests/bootstrap.php"
		colors="true"
		backupGlobals="false"
		backupStaticAttributes="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		processIsolation="true"
		verbose="true"
		stopOnFailure="false"
		beStrictAboutOutputDuringTests="false"
>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>